
<table>
    <tr>
        <th>Guest</th>
    </tr>
    <?php 
    foreach($reservations as $reservation){
        echo "<tr>";
            echo "<td>".$reservation['User']['first_name']." ". $reservation['User']['last_name']."</td>";
            echo "<td><a class='btn btn-primary' href=/sleepeasy/reservation/checkout/".$reservation['Reservation']['id'].">Checkout</a></td>";
           
            
        echo"</tr>";
    }
    ?>
</table>
