@import url(http://fonts.googleapis.com/css?family=Chewy);
@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Oswald);
body{
    background: white;
}
.danger a:link a:visited{
    color:red;
}
html,body{height: 100%;}
.navbar-brand{
    font-size: 2em;


}

#brandcolor {
    color: #46b5ff;
    font-size:1m;
    margin-bottom: 10px !important;
}
.navbar{
    font-family: 'Oswald', sans-serif !important;
    font-size: 18px;
}

.blueBack{ 
    background-color:#286090;
}

.blueBack a {
    color:white !important;
}
.blueBack a:hover {
    color:green !important;
}

body{
    background: lightgray;
}

.navbar-inverse{
    background-color:#286090;

}
li a{
   
    color:white !important;
    height:100%;
}
li a:hover {
    color:skyblue !important;
}

.navbar-link {
    color:#ff6661;
}

form#RegistrationSearchForm , label{
    display : inline-block;
    width:15%;
    max-width: 200px;

}

legend{
    color:#23527c !important;
}

.row h1 {
    text-align: center;
    margin:0px;
    padding :30px 20px 0px 20px ;
    height:150px;
    vertical-align: middle;
    background-color: darkgrey;
    
}

.alertStatus{
    color:white;
    background-color:red;
    display:none;
}

/*
This will be used for success banner messages
*/
.flashMessageSuccess{
    color: white ;
    background: none repeat scroll 0 0 #66FF66 ;
}

.center-text{
    text-align: center;
}

#collapsedBar .nav{
    background-color: #286090;
    z-index: 1001;
}
.content{
    z-index: -1;
}


.side-nav{
width:200px !important;
float: left !important;
}

