<div class="row>"
     <div class="col-md-12">
        <h1 class="text-center">Welcome to the SleepEasy Hotel</h1> 
        <hr />
        <br/>
        <div class="text-center">
            <?php echo $this->Html->image('hotelFront.jpg',array('alt'=>'Hotel Front' , 'class'=>'img-thumbnail')); ?>
        </div>
     </div>
    
</div>